/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17.11.2016, 23:06:32
    Author     : Egor
*/

// General

$a_color: #b31b16;
$ahover_color: #fa352e;


//FONTS

$primary_font: cuprum, Helvetica, Arial, sans-serif;
$secondary_font: opensans, Helvetica, Arial, sans-serif;
$h_font: bebasNeue, Helvetica, Arial, sans-serif;

$primary_color: #383838;
$secondary_color: #fff;

//Buttons

$button_color: #383838;
$bhover_color: #fff;

$button_bgcolor: #c80000;
$bhover_bgcolor: #ff0000;


