@import "compass";
@import "compass/reset";
@import "susy"; 

@import "variebles";
@import "mixins";
@import "base";
@import "modules";
@import "layout";


// fonts 

@font-face { 
    font-family: cuprum; 
    src: url(../fonts/cuprum-regular.ttf); 
   }
   
   @font-face { 
    font-family: opensans; 
    src: url(../fonts/opensans-regular.ttf); 
   }
   
   @font-face {
    font-family: bebasNeue; 
    src: url(../fonts/bebas_neue_regular.ttf); 
   }