@charset "utf-8";
/* CSS Document */


@media (min-width: 555px) and (max-width: 768px){

	h1 {
	position:static;
	margin-top: 0px;
	margin-left: 0px;
	padding-top: 70px;
	}
	h2 {
		font-weight:normal;
		font-size: 2em;
	}
	
	section#serv h3 {
		    font-size: 1.3em;
	}
	li.noMR {
			margin:0 auto !important;
		}
	
	div#floatConteiner {
		width: 100%;
		height: inherit;
	}
	
	img#miniLogo {
		float:left;
		margin: 5px;
	}
	
	img#laogo {
		float:left;
		margin-right: 2%;
	}
	
	a#menuIcon {
		margin: 15px 25px 0 10px;
    	float: right;
    	font-size:1.6em;
	}
	
	ul#social {
		position: static;
    	margin: 2% 0;
    	overflow: hidden;
    	padding: 0 4%;
    	float: left;
	}
	
	ul#social li{
		float:left;
		margin-right: 1em;
	}
	
	ul#social li a i {
		font-size: 2em;	
	
	}
	
	ul.navList li {
		margin-bottom: 5px;
		width: 100%;
    	text-align: center;
	}
	
	ul.navList li a {
		font-size: 1.7em;
	}

ul.navList {
	text-align: center;
	margin:1em 0 0 0;
}

ul.navList li a {
	font-weight:normal;
}
	

div#promo #getStretegy {
	    width: 35%;
	    float:none;
	    margin-right: 25%;
	    font-weight:normal;
	    margin: 2% auto;
	    padding: 0 0 1% 0; 
}

div#promo h3 {
	float:none;
	margin-left: 0;
}

header img {display:none;}

ul.headerContact li i {
	    float: none;
	    margin: 10px 40px;
}

ul.headerContact li p {
	font-size: 1.1em;
    line-height: 1.5;
}

ul.headerContact li p span {
	font-size: 1.4em;
}

section#serv p.title {
	font-weight: normal;
	font-size: 1.4em;
	padding-bottom: 20px;
    margin-bottom: 20px;
}

.tabs ul.mainTabs li span {
	border: none;
	height:100%;
	border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius:0%;
    border-bottom-left-radius: 0%;
	
}

.tabs ul li span i {
	margin-top:0px;
}

.tabs ul.mainTabs li {
	padding:0;
	height: 100%;
	margin-bottom:20px;
}

.tabs ul li p.tabTitlle {
	margin-top: 15px;
    font-weight: normal;
    line-height: 1.5;
}

ul.mainTabs {
	margin-top:30px;
	} 
	
.tabs ul.mainTabs li {
	margin-right:0;
}

p.arrow { display: none; }


ul.devTabs li {
	margin-right: 6%;
	line-height: 1.5;
}

a.tabButton {
	font-weight:normal;
	font-size: 1.5em;
}

form.miniOrderForm {
	padding-bottom:45px;
}

div#shadow p {
	font-size: 1.7em;
	line-height: 1.5;
	margin: 10px 0 35px 0;
}

ul#packs li {
	width: 47%;
    float: left;
    height: 100%;
    margin-bottom: 20px;
}

ul#packs li img {
	padding-bottom:10%;
	margin: 0 auto;
}

div#shadow {
	background: none;
}

a.moreButton {
	width: 83%;
	font-size:1.2em;
}

ul#packs li img:hover {
	padding-bottom:0;
}

div.whiteConteiner {
	
}

ul#portfolio {
	margin-top:20px;
	padding-bottom: 0px;
    margin-bottom: 30px;
}

ul#portfolio li {
	width: 48%;
}

ul#portfolio li.centerCol {
	top:0;
}

section.miniOrderConteiner p {
	    font-size: 1.7em;
}

section.miniOrderConteiner p span {
	display: block;
	font-size: 1.4em;
}

section#portfolioContainer {
	margin: 6% 0 10% 0;
}

ul#portfolio li.rightCol {
	top: 0;
}

a#moreWorks {
	font-weight: normal;
	font-size: 1.7em;
}

div.workTab {
	height: 235px;
}

div.workTab h3 {
	margin-bottom: 15px;
}

ul.navTab li i.fa-play-circle-o {
	left:41%;
}

ul.navTab li i.fa-search {
	left: 58%;
}

ul.navTab li {
	width: 27%;
}

div.bx-wrapper {
	background: none;
}

div.leftCol {
	width: 37%;
}

div.leftCol p {
	    margin-top: 15%;
}

img.revLogo {
	bottom: 52%;
    left: 6%;	
}

div#slideNav {
	float: right;
    margin: -18% 15% 0 0;
    width: 30%;
}

div.rightCol img{
	max-width:50%;
}

form#order input[type="text"] {
	display: block;
    float: left;
    width: 93%;
    padding: 3%;
    margin: 0% 2% 5% 0%;
}

form#order textarea {
	height: 212px;
    width: 95%;
    padding: 2%;
}

form#order input[type="button"] {
	width: 100%;
	margin-top:5%;
}

ul#fileLink {
	margin:8% 0;
	position: static;
	width: 100%;
	font-size: 1.2em;
}

ul#fileLink li a {
	font-weight:normal;
}

div#contactCol {
    height: 415px;
    padding: 5%;
    top:17%;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 90%;

}

div#copyright  {
	margin-top:35px;
}


}