@charset "utf-8";
/* CSS Document */


@media (min-width: 320px) and (max-width: 550px){
	body {
			overflow:scroll;
		}

		div.mainContent {
			width: 100%;
    		height: 7000px;
}

div.rightContainer {
    overflow: hidden;
    height: 568px;
    width: 100%;
    float: none; 

}
a#logo {
		display:none;
	}
	
	ul.nav {
			margin-top:25%;
		}
		
		div.leftCol {
				height: 55%;
    			width: 100%;
				position:static;
			}
			
			div.rightCol {
					width: 93%;
   					height: 40%;
    				right: 7px;
				}
	
	ul.nav li {
			width: 130px;
			margin-bottom: 15%;
		}
		
		ul.nav li i{
			display:block;
			padding-right:30px;
			float:left;
			font-size:1.4em;
			margin-bottom:2%;
		}
		
		aside#leftContainer {
				overflow:hidden;
				
			}
			
			h1 {
				margin:0;
				width: 100%;
				border-top:none;
				border-bottom:none;
				font-size:2em;	
			
			}
			
			div.rightCol article {
					text-align:center;
					font-size:1.25em;
					line-height: 1.3;
   					padding: 2% 3% 2%;
					
				}
			
			div#langConsole ul li {
					float:none;
					margin-bottom:30%;
				}
				
				ul.social {
						padding-top: 25%;
    					width: 31px;
					}
					
					ul.social li {
							margin-bottom:30%;
						}
						
						aside#leftContainer {
    						width: 14%;
						}

}



